.provision-select-equipment-page {
	margin-top: -$navbar-margin-bottom; // for showing banner at top of screen

	.page-title {
		font-size: 16px;
		color: $GRY3;
		text-align: center;
		font-weight: bold;
        margin: 25px 0;

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
		}
	}

	.page-image {
		width: 300px;
		height: 220px;
		margin: 50px auto 60px;
		background: url("/images/icons/setupWizard/Select_Equipment.jpg") no-repeat center;
		background-size: contain;
	}

	.equipment-provision-list {
		background-color: $WHT2;
		padding: 10px 0; // desktop
		margin-bottom: 10px;
		text-align: center;
		font-size: 16px;

		.select-equipment {
			color: $GRY3;
			line-height: 22px;
		}

		.select-equipment-error {
			color: $RED1;
			line-height: 22px;
			font-weight: 700;
		}
	}

	.button-wrapper {
		padding-bottom: 88px;

		button {
			font-size: 16px;
			font-weight: 600;
		}
	}

	// list of devices
	.provision-list {
		width: 100%;
		margin-top: 40px;

		// a device in the list
		.provision-device {
			@include center-block();
			position: relative;
			width: 98%; // give a little margin
			height: 98px;
			background-color: $WHT0;
			border: 1px solid $GRY_LT6;
			margin-bottom: 15px;

			@media (min-width: $screen-sm-min) {
				width: 460px;
			}

			// device accompanying icon
			.device-icon {
				@include center-vertical-absolute();
				display: inline-block;
				left: 30px;
				width: 44px;
				height: 43px;
				background: no-repeat center;
				background-size: contain;

				@media (min-width: $screen-sm-min) {
					left: 40px;
				}

				&.gateway-image {
					background-image: url("/images/icons/myEquipment/icon_wifi_grey.svg");
				}

				&.wud-image {
					background-image: url("/images/icons/myEquipment/icon_wud_grey.svg");
				}

				&.thermostat-image {
					background-image: url("/images/icons/myEquipment/icon_temp_grey.svg");
				}

				&.sensor-image {
					background-image: url("/images/icons/myEquipment/icon_sensor_grey.svg");
				}

				&.smart-plug-image {
					background-image: url("/images/icons/myEquipment/icon_smart_plug_off_grey.svg");
				}

				&.energy-meter-image {
					background-image: url("/images/icons/myEquipment/icon_energy_monitor_grey.svg");
				}

				&.trv-image {
					background-image: url("/images/icons/myEquipment/icon_trv_grey.svg");
				}
                
                &.window-image {
					background-image: url("/images/icons/myEquipment/icon_window_grey.svg");
				}
                &.door-image {
					background-image: url("/images/icons/myEquipment/icon_door_grey.svg");
				}

				&.default-image {
					// todo - placeholder
					background-image: url("/images/icons/myEquipment/icon_wifi_grey.svg");
				}
			}

			// checkbox and text for name
			.provision-checkbox {
				@include center-vertical-absolute();
				display: inline-block;
				left: 105px;

				@media (min-width: $screen-sm-min) {
					left: 124px; // 40 + 44 + 40
				}

				.checkbox-text {
					font-size: 14px;
					color: $GRY4;
					line-height: 19px;
				}
			}
		}
	}
}

//naming page
.provision-name-equipment-page {
	margin-top: -$navbar-margin-bottom;

	.success-image {
		@include center-block();
		width: 72px;
		height: 72px;
		margin-top: 20px;
		background: url("/images/icons/icon_check_green.svg") no-repeat center;
		background-size: contain;

		@media (min-width: $screen-sm-min) {
			margin-top: 40px;
		}
	}

	.page-title {
		font-size: 16px;
		color: $GRY3;
		text-align: center;
		font-weight: bold;
		margin: 15px 0;

		@media (min-width: $screen-sm-min) {
			margin: 20px 0;
		}
	}

	.page-description {
		@include center-block();
		text-align: center;
		font-size: 16px;
		color: $GRY3;
		line-height: 22px;
		width: 100%;
		margin-bottom: 2px;

		@media (min-width: $screen-sm-min) {
			width: 400px;
		}
	}

	.equipment-region {
		background-color: $WHT2;
		padding: 10px 0; // desktop
		margin-bottom: 10px;

		.equipment-provision-list {
			@include center-block();
			width: 98%;
			padding: 13px 0;
			background-color: $WHT0;
			border: 1px solid $GRY_LT1;

			@media (min-width: $screen-md-min) {
				padding: 16px 0;
				width: 780px;
			}
		}

		.provision-device {
			.device-icon {
				width: 48px;
				height: 48px;
				background: no-repeat center;
				background-size: contain;
				margin: 0 auto;
				// background-image filled in from equipment_page_icon_url since we have device models at this point

				@media (min-width: $screen-sm-min) {
					margin-top: 16px;
				}
			}

			.device-type {
				text-align: left;
				font-size: 16px;
				padding-right: 0;
				padding-left: 22px;
				margin-top: 10px;
				color: $GRY4;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				@media (min-width: $screen-sm-min) {
					margin-top: 32px;
					font-size: 14px;
					padding-left: 10px;
				}
			}

			.name-textbox {
				padding-left: 5%;
				padding-right: 5%;
				margin-bottom: 20px;

				@media (min-width: $screen-sm-min) {
					padding-left: 10px; // default bootstrap
					padding-right: 10px;
					margin-bottom: 0;
				}
			}

			.identify-button {
				cursor: pointer;
				width: 50px;
				height: 50px;
				background: url("/images/icons/myEquipment/icon_identify_inactive.svg") no-repeat center;
				background-size: contain;

				@media (min-width: $screen-sm-min) {
					margin: 19px auto 0;
				}

				&.active {
					background-image: url("/images/icons/myEquipment/icon_identify_active.svg");
				}
			}
		}
	}

	.button-wrapper {
		padding-bottom: 88px;

		button {
			font-size: 16px;
			font-weight: 600;
		}

		#next-button {
			background-color: $ORG4 !important;
			border-color: $ORG4 !important;
		}
	}
}

.modal-body.customize-equipment-modal-content {
	padding: 20px;

	@media (min-width: $screen-sm-min) {
		padding: 45px;
	}
}

#complete-setup-btn {
    @include btn-primary-extended-attr;
}

// customize equipment page
.provision-customize-equipment-page {
	margin-top: -$navbar-margin-bottom;

	.page-title {
		font-size: 16px;
		color: $GRY3;
		text-align: center;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 30px;

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
		}
	}

	.page-info {
		font-size: 16px;
		color: $GRY3;
		margin-bottom: 30px;
	}

	.customize-equipment-list {
		background-color: $WHT2;
		padding: 40px 0;
	}

	.customize-equipment-list-item {
		@include center-block();
		position: relative;
		width: 90%; // give a little margin
		height: 160px;
		background-color: $WHT0;
		border: 1px solid $GRY_LT6;
		margin-bottom: 15px;
		cursor: pointer;

		@media (min-width: $screen-sm-min) {
			width: 460px;
		}

		.equipment-icon {
			/*@include center-vertical-absolute();*/
            position: absolute !important;
            top: 40% !important;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            left: 15px;
			width: 44px;
			height: 48px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			// image filled from equipment_page_icon_url on device model

			@media (min-width: $screen-sm-min) {
				left: 100px;
			}
		}
       

		.equipment-name {
			//@include center-vertical-absolute();
			position: absolute !important;
            top: 40% !important;
             -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            left: 84px;
			font-size: 14px;

			@media (min-width: $screen-sm-min) {
				left: 188px;
				font-size: 16px;
			}
		}
        
      

		.check-mark {
            position: absolute !important;
            top: 60% !important;
			/*top: 4px;*/
			left: 15px;
			width: 40px;
			height: 48px;
			background: url("/images/icons/dashboard/icon_circle_check_green.svg") no-repeat center;
			background-size: contain;
            
            @media (min-width: $screen-sm-min) {
				left: 100px;
			}

/*			@media (min-width: $screen-sm-min) {
				@include center-vertical-absolute();
				right: -25px; // hangs off the view
				width: 50px;
				height: 50px;
			}*/

			.success-text {
                position: absolute !important;
				/*position: absolute;*/
				/*top: 32px;*/
				left:45px;
                text-align: center;
				word-break: break-word;
				width: 230px;
				font-size: 14px;
				color: $GRY3;
                
                 @media (min-width: $screen-sm-min) {
                    left: 80px;
                    font-size: 16px;
                }
                
               

/*				@media (min-width: $screen-sm-min) {
					@include center-vertical-absolute();
					font-size: 16px;
					left: 60px;
					width: 100px;
					text-align: left;
				}*/

			@media (min-width: $screen-md-min) {
					width: 250px;
				}
			}
		}
	}
}

// customize equipment modal
.customize-equipment-modal-content {
	.border-bottom-row {
		border-bottom: 2px solid $GRY_LT6;
	}

	.border-top-row {
		border-top: 2px solid $GRY_LT6;
	}

	.customization-content-view:last-of-type {
		.border-bottom-row:last-of-type {
			border: none;
		}
	}

	.section-header-row,
	.customize-content-row {
		padding: 15px 0; // desktop

		&.no-top-pad {
			padding-top: 0;
		}
	}

	.device-info-row {
		padding-bottom: 25px;

		.device-name {
			color: $BLU14;
			font-size: 24px;
			cursor: default;
		}

		.equipment-icon {
			width: 100%;
			height: 90px;
			background: no-repeat center;
			background-size: contain;
		}
	}

	.section-indicator {
		margin-left: auto;
		margin-right: auto;
	}

	.section-text {
		font-size: 24px;
		font-weight: 600;
		color: $BLU14;

		&.description {
			font-size: 16px;
			color: $GRY3;
			font-weight: normal;
		}

		&.top-padding {
			padding-top: 15px;

			@media (min-width: $screen-sm-min) {
				padding-top: 30px;
			}
		}
	}

	.content-description {
		text-align: center;
		font-size: 16px;
		color: $GRY3;
		padding-top: 5px;
		padding-bottom: 30px;
	}

	.share-user-item {
		.checkbox-text {
			font-size: 14px;
			color: $GRY4;
		}
	}

	.recommended-rule {
		margin-bottom: 30px;
		cursor: pointer;

		.check {
			width: 30px;
			height: 30px;
			border: 2px solid #64B675; // same color as icon_check_green
			border-radius: 50%;
			background: no-repeat center;
			margin: 0 auto;

			&.checked {
				background-image: url("/images/icons/icon_check_green.svg");
				background-size: contain;
				border: none;
			}
		}

		.one-touch-name {
			font-size: 16px;
			color: $GRY3;
			font-weight: 700;
		}

		.one-touch-description {
			font-size: 16px;
			color: $GRY3;
			line-height: 1.8em;
		}
	}

	.clamps-error-text {
		color: $RED1;
		font-size: 14px;
	}

	.clamps-view {
		.flex-sm {
			@media (min-width: $screen-sm-min) {
				display: flex;
				display: -webkit-flex;
			}
		}

		.salus-checkbox {
			margin-top: 20px;

			label {
				border: 1px solid #B6BBBE;
				padding: 15px 25px;
				margin-left: 30px;
				margin-bottom: 0;
			}

			.checkbox-icon {
				margin-top: 16px;
			}

			.checkbox-text {
				color: $GRY3;
				font-size: 20px;
				font-weight: 700;
				margin-left: 0;
			}

			&.checked {
				label {
					background-color: #1564C0;
				}

				.checkbox-text {
					color: $WHT0;
				}
			}
		}
	}

	.pin-custom-content {
		padding-bottom: 35px;
	}

	.pin-equipment-radio {
		padding: 0;

		@media (min-width: $screen-sm-min) {
			padding-left: 10px;
			padding-right: 10px;
		}

		.pin-wrapper {
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: $screen-sm-min) {
				padding-left: 15px;
				width: 85%;
			}

			@media (min-width: $screen-md-min) {
				padding-left: 70px;
			}
		}

		.pin-image {
			display: inline-block;
			vertical-align: top;
			width: 40px;
			height: 40px;
			background: url("/images/icons/myEquipment/icon_unpin_blue.svg") no-repeat center;
			background-size: contain;

			@media (min-width: $screen-sm-min) {
				margin-right: 5px;
				width: 58px;
				height: 58px;
			}

			&.pin {
				background-image: url("/images/icons/myEquipment/icon_pin_blue_filled.svg");
			}
		}

		.pin-radio {
			display: inline-block;
			vertical-align: top;

			@media (min-width: $screen-sm-min) {
				padding-top: 10px;
			}

			.radio-text {
				font-size: 15px;
				font-weight: normal;
				color: $GRY3;
				margin-left: 9px;

				@media (min-width: $screen-sm-min) {
					font-size: 16px;
					margin-left: 15px;
				}
			}
		}
	}
}