.footer {
	color: $GRY2;
}

.footer-year {
	margin-right: 10px;
}

.footer-links {
	display: inline-block;
	list-style: none;
	padding: 0;
}

.footer-link {
	display: inline-block;

	/* separates all footer links with a | */
	+ .footer-link:before {
		content: "|";
		padding: 0 5px;
	}
}