@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);

	background: $rgba;
}

@mixin btn-primary-extended-attr() {
	min-height: 44px;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding: 5px 12px;
	white-space: inherit;
}

@mixin set-href-states($textColor, $hoverColor, $activeColor) {
	color: $textColor;

	&:hover {
		color: $hoverColor;
	}

	&:hover:active {
		color: $activeColor;
		text-decoration: underline;
	}
}

@function get-vw($target) {
	// We need the screen context value as an int and not '480px', which is why we can 't reference
	// the bootstrap variable $screen-xs-min directly
	$vw-context: (480 * 0.01) * 1px;

	@return ($target / $vw-context) * 1vw;
}

// Sets up the font size for screens greater than sm, less than sm and then scales
// the font down when the screen is less than xs
//
// @parm $fontSizeGtSm - the font size for when the screen is above sm
// @parm $fontSizeLtSm - the font size for when the screen hits sm
// @parm $shouldScaleBelowXs - boolean to allow the font to dynamically scale down from $fontSizeLtSm
//
// TODO Fix lower font size bounds so we can't set font sizes on the molecular level...
@mixin set-responsive-font-size($fontSizeLtSm, $fontSizeGtSm, $shouldScaleBelowXs) {
	// Used when the screen is larger than screen-sm
	font-size: $fontSizeGtSm;

	// Used when the screen is smaller than screen-sm but larger than screen-xs
	@media (max-width: $screen-sm-min) {
		font-size: $fontSizeLtSm;
	}

	// Used when the screen is smaller than screen-xs
	@if $shouldScaleBelowXs {
		@media (max-width: $screen-xs-min) {
			font-size: get-vw($fontSizeLtSm);
		}
	}
}

@mixin relative-size($suffix, $ratio) {
	.relative-size-#{$suffix} {
		display: inline-block;
		position: relative;

		&:after {
			content: '';
			display: block;
			margin-top: $ratio;
		}
	}
}

@mixin hide-backface() {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@mixin circle($size) {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: $size;
	height: $size;
	left: calc(50% - #{$size/2});
	top: calc(50% - #{$size/2});
}

@mixin center-vertical-horizontal-absolute() {
	position: absolute !important;
	left: 50% !important;
	top: 50% !important;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical-absolute() {
	position: absolute !important;
	top: 50% !important;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

@mixin center-horizontal-absolute() {
	position: absolute !important;
	left: 50% !important;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

@mixin center-relative() {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

@mixin border-radius($radius-percent) {
	/* Verify that the parameter values have units assigned to them. Add the units if they do not. */
	@if unitless($radius-percent) {
		@warn "Assuming #{$radius-percent} to be in percent";
		$radius-percent: 1% * $radius-percent;
	}

	-moz-border-radius: $radius-percent;
	-webkit-border-radius: $radius-percent;
	border-radius: $radius-percent;
}

/**
* Creates an angled color gradient between two colors
*
* params:
*  angle: the angle to start at in degrees
*  start-color: starting color of the gradient
*  end-color: ending color of the gradient
*  start-color-position: as percentage
*  end-color-position: as percentage
*/
@mixin color-gradient-with-angle($angle, $start-color, $start-position, $end-color, $end-position) {
	/* Verify that the parameter values have units assigned to them. Add the units if they do not. */
	@if unitless($start-position) {
		@warn "Assuming #{$start-position} to be in percent";
		$start-position: 1% * $start-position;
	}

	@if unitless($end-position) {
		@warn "Assuming #{$end-position} to be in percent";
		$end-position: 1% * $end-position;
	}

	background: $end-color;
	background: -moz-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: -webkit-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: -o-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: -ms-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: linear-gradient($angle, $start-color $start-position, $end-color $end-position);
}

/**
* Same as above but now you can pass in an image for gradient + image background stacking on all browsers!
*/
@mixin color-gradient-with-angle-and-image($img-position, $img-repeat-type, $img-url, $angle, $start-color, $start-position, $end-color, $end-position) {
	background: $img-position $img-repeat-type url($img-url), center/auto -moz-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: $img-position $img-repeat-type url($img-url), center/auto -webkit-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: $img-position $img-repeat-type url($img-url), center/auto -o-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: $img-position $img-repeat-type url($img-url), center/auto -ms-linear-gradient($angle, $start-color $start-position, $end-color $end-position);
	background: $img-position $img-repeat-type url($img-url), center/auto linear-gradient($angle, $start-color $start-position, $end-color $end-position);
}

/**
* Add a dropshadow to an element. Pass in true or false at the end to set the shadow to be inset or outset
*/
@mixin dropshadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
	@if $inset {
		$inset: inset;
	} @else {
		$inset: null;
	}

	-moz-box-shadow: $inset $offset-x $offset-y $blur-radius $spread-radius $color;
	-webkit-box-shadow: $inset $offset-x $offset-y $blur-radius $spread-radius $color;
	box-shadow: $inset $offset-x $offset-y $blur-radius $spread-radius $color;
}

/**
* Forces the browser to use GPU. Handy for making animations more fluid
*/
@mixin enable-3d-accel {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/**
* modified from http://nicolasgallagher.com/micro-clearfix-hack/
*/
@mixin salus-clearfix() {
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

/** Create a box shadow with all the vendor prefixes */
@mixin vendor-prefixed-box-shadow($offset-x, $offset-y, $blur-amount, $spread-distance, $rgba-color) {
	-webkit-box-shadow: $offset-x $offset-y $blur-amount $spread-distance $rgba-color;
	-moz-box-shadow: $offset-x $offset-y $blur-amount $spread-distance $rgba-color;
	box-shadow: $offset-x $offset-y $blur-amount $spread-distance $rgba-color;
}

/* Color gradient mixins */

/* Green gradient background used in various areas. Mainly on idle dashboard tiles */
@mixin green-gradient-tile-background {
	@include color-gradient-with-angle(135deg, $TILE-GREEN-GRADIENT-TOP, 0%, $TILE-GREEN-GRADIENT-BOTTOM, 100%);
	height: 100%;
	width: 100%;
}

/* Orange gradient background. Mainly used on thermostat tiles in heating mode */
@mixin orange-gradient-tile-background {
	@include color-gradient-with-angle(135deg, $TILE-ORANGE-GRADIENT-TOP, 0%, $TILE-ORANGE-GRADIENT-BOTTOM, 100%);
	height: 100%;
	width: 100%;
}

/* black gradient background. Mainly used on thermostat tiles is left network */
@mixin black-gradient-tile-background {
	@include color-gradient-with-angle(135deg, $TILE-BLACK-GRADIENT-TOP, 0%, $TILE-BLACK-GRADIENT-BOTTOM, 100%);
	height: 100%;
	width: 100%;
}

/* Light blue gradient background. Mainly used on thermostat tiles in cooling mode */
@mixin light-blue-gradient-tile-background {
	@include color-gradient-with-angle(135deg, $TILE-LIGHT-BLUE-GRADIENT-TOP, 0%, $TILE-LIGHT-BLUE-GRADIENT-BOTTOM, 100%);
	height: 100%;
	width: 100%;
}

@mixin grey-gradient-tile-background {
	@include color-gradient-with-angle(135deg, $TILE-GREY-GRADIENT-TOP, 0%, $TILE-GREY-GRADIENT-BOTTOM, 100%);
	height: 100%;
	width: 100%;
}

@mixin wordwrap {
	white-space: -moz-pre-wrap !important;	
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space: -webkit-pre-wrap;
	word-break: break-all;
	white-space: normal;
}

@mixin inline-flex-center() {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	align-items: center;
	-webkit-align-items: center;
}