#schedule-presets-page {
	h3, h4 {
		color: $BLU3;
	}

	.description-text {
		padding-bottom: 36px;
		border-bottom: 1px solid $GRY_LT1;

		@media (max-width: $screen-sm-min) {
			padding-bottom: 54px;
		}
	}

	.preset-item {
		border-bottom: 1px solid $GRY_LT1;

		.image {
			width: 80px;
			height: 80px;
			margin-top: 30px;
			margin-bottom: 30px;
			margin-left: 30px;

			@media (max-width: $screen-sm-min) {
				width: 140px;
				height: 140px;
			}
		}

		.title-text {
			margin-top: 36px;
			margin-bottom: 22px;
			font-size: 18px;
			color: $GRY3;

			@media (max-width: $screen-sm-min) {
				font-size: 22px;
			}
		}

		.description {
			@media (max-width: $screen-sm-min) {
				margin-bottom: 10px;
			}
		}

		input {
			float: right;
			height: 80px;
			margin-top: 30px;
			margin-bottom: 30px;
			margin-right: 30px;

			@media (max-width: $screen-sm-min) {
				height: 140px;
				margin-right: 18px;
			}
		}
	}
}