<div class="container-fluid">
	<div class="row header margin-b-10">
		<h4 class="col-xs-12 subheader" data-i18n="schedules.thermostat.duplicateSchedule.title"></h4>
		<div class="col-xs-12 duplicate-message"></div>
	</div>
	<div class="checkbox-region margin-l-10 margin-b-30">
		<div class="bb-schedule-region row"></div>
		<div class="bb-individual-region row"></div>
	</div>
	<div class="duplication-error-row row margin-l-10 margin-b-10">
		<div class="bb-duplicate-error duplicate-error col-xs-12 text-center hidden" data-i18n="schedules.thermostat.duplicateSchedule.error"></div>
	</div>
	<div class="buttons row margin-b-50">
		<div class="bb-duplicate-button duplicate-button col-xs-8 col-xs-push-2 col-sm-4 col-sm-push-0 margin-t-20"></div>
		<div class="bb-cancel-button cancel-button col-xs-8 col-xs-push-2 col-sm-4 col-sm-push-0 margin-t-20"></div>
	</div>
</div>