<div class="row">
	<h1 class="h1 col-xs-12 font-semi-bold" data-i18n="messageCenter.title"></h1>
	<div id="bb-sub-header" class="col-xs-12 sub-header"></div>
</div>
<div class="row">
	<div id="bb-tab-view-region" class="col-xs-12"></div>
</div>