<% if (title) { %><tr>
        <td align="center" bgcolor="#01467C" style="height: 56px; margin: auto auto; padding: 0 52px; color: white; font-size: 24px;">
                <%= title %>
        </td>
</tr><% } %>