<div class="container-fluid">
	<div class="row header">
		<h3 class="col-xs-12 header-text"></h3>
	</div>
	<div class="row bb-equipment-coll-region"></div>
	<div class="row alert alert-danger bb-alert hidden" role="alert">
		<button type="button" class="close bb-close-button" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
	</div> 
	<div class="row buttons-row">
		<div class="bb-btn-close col-xs-12 col-md-6 margin-t-10"></div>
		<div class="bb-btn-apply col-xs-12 col-md-6 margin-t-10"></div>
	</div>
</div>