<div class="row header-row margin-b-25 margin-t-35">
	<h3 class="margin-b-15 col-xs-12 title" data-i18n="equipment.oneTouch.create.title"></h3>
	<h4 class="col-xs-12" data-i18n="equipment.oneTouch.create.pin.subtitle"></h4>
	<div class="col-xs-12" data-i18n="equipment.oneTouch.create.subtitle"></div>
</div>
<div class="row margin-b-50">
	<div class="col-xs-6 col-xs-push-0 col-sm-push-1">
		<div class="bb-pin-tile pin-tile background relative-size-1x1 width100 center-relative">
			<div class="absolute-fill">
				<div class="bb-pin pin center-vertical-horizontal-absolute"></div>
				<div class="bb-pin-selected"></div>
				<div class="pin-text center-horizontal-absolute" data-i18n="equipment.oneTouch.create.pin.pinText"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-xs-pull-0 col-sm-pull-1">
		<div class="bb-unpin-tile unpin-tile background relative-size-1x1 width100 center-relative">
			<div class="absolute-fill">
				<div class="bb-unpin unpin center-vertical-horizontal-absolute"></div>
				<div class="bb-unpin-selected"></div>
				<div class="pin-text center-horizontal-absolute" data-i18n="equipment.oneTouch.create.pin.unpinText"></div>
			</div>
		</div>
	</div>
</div>
<div class="row margin-b-30">
	<div class="bb-save-button col-xs-10 col-xs-pull-1 col-sm-3 col-sm-pull-0 pull-right"></div>
	<div class="bb-cancel-button col-xs-10 col-xs-pull-1 col-sm-3 col-sm-pull-0 pull-right"></div>
</div>

