&copy;<span class="bb-copy-year footer-year"></span><span data-i18n="common.footer.copyrightText"></span>
<ul class="footer-links">
	<li class="footer-link">
		<a href="#" data-i18n="common.footer.termsAndConditions"></a>
	</li>
	<li class="footer-link">
		<a href="#" data-i18n="common.footer.privacyPolicy"></a>
	</li>
</ul>