<div class="relative-size-2x1 dashboard-header-container col-xs-12">
	<div class="absolute-fill">
		<div class="bb-dashboard-header-main dashboard-header-main">
			<div class="bb-overview height100"></div>
			<div class="bb-scan height100 hidden"></div>
		</div>
	</div>
</div>
<div class="bb-scan-results-region scan-results-region col-xs-12 hidden">
</div>
