<div class="bb-overlay scan-overlay absolute-fill"></div>
<div role="button" class="bb-close close margin-r-15 margin-t-10"></div>
<div class="center-vertical-absolute scan-status-container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 bb-scan-status">
			<span class="font-size-20 margin-r-15" data-i18n="dashboard.header.scanning"></span>
			<span class="bb-current-device"></span>
		</div>
		<div class="col-xs-10 col-xs-offset-1 font-size-20 bb-scan-complete hidden"
			 data-i18n="dashboard.header.scanComplete"></div>
		<div class="bb-progress scan-progress col-xs-10 col-xs-offset-1">
			<div class="progress">
				<div class="progress-bar bb-progress-bar" role="progressbar">
					<span class="sr-only"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="absolute-bottom">
	<div class="bb-scan-results-control scan-results-control eye-close"></div>
</div>
<div class="bb-overlay-scan-cancel overlay-scan-cancel absolute-fill hidden">
	<div class="center-vertical-absolute scan-status-container">
		<div class="col-xs-12">
			<div class="row">
				<div class="cancel-text font-size-24 col-xs-12" data-i18n="dashboard.header.cancelScan"></div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="scan-cancel-btn-container">
						<button class="bb-cancel-scan-btn-no cancel-scan-btn-no btn btn-danger optn-btn"
								data-i18n="common.labels.no"></button>
						<button class="bb-cancel-scan-btn-yes cancel-scan-btn-yes btn btn-success optn-btn"
								data-i18n="common.labels.yes"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>