<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Enable all requests, inline styles, and eval() -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title><%= title %></title>

	<!-- Bootstrap -->
	<link href="/css/styles.css" rel="stylesheet">
	<!-- Preload fonts -->
	<style>.preload {position: absolute; visibility: hidden; font-family: 'Open Sans'; }</style>

</head>
<body class="dashboard-background-color">

<%- include("modules/mainBody.ejs")%>

<script src="/src/js/lib/require.js"></script>
<script src="/src/js/requireConfig.js"></script>
<!--cordova files-->

<!-- preloadBackgroundImage needs to come after cordova -->
<%- include("modules/preloadBackgroundImage.ejs")%>

<script src="/src/js/require_main.js"></script>
<%/* Build will swap out inline-js comment for actual js */%>
<!-- inline-js -->
</body>
</html>