<li class="nav" role="presentation">
	<a href="#<%=key%>" class="bb-tab-header tab-header text-center disable-text-select" id="tab-header-<%=key%>" aria-controls="<%=key%>" role="tab">
		<%=title%>
	</a>
	<div class="bb-tabbed-bottom-effect tabbed-bottom-effect hidden"></div>
</li>