<div class="row">
	<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-6">
		<div class="well-region" style="background: rgba(255, 255, 255, 0.6);">
			<div class="salus-logo"></div>
			<div id="bb-well-headline" class="login-headline font-light font-size-42"></div>
			<div id="bb-well-content-region"></div>
		</div>
	</div>
</div>