<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="row">
		<div class="col-xs-12 device-form-header" data-i18n="settings.manageDevices.devices.formHeader"></div>

		<div class="bb-first-name col-xs-12 col-sm-6"></div>
		<div class="bb-last-name col-xs-12 col-sm-6"></div>
		<div class="bb-country country col-xs-12 col-sm-6"></div>
		<div class="bb-email col-xs-12 col-sm-6"></div>

		<div class="bb-shareable-device-list shareable-device-list col-xs-12"></div>

		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 form-group">
					<a class="bb-delete-user device-form-delete" href="#" data-i18n="settings.manageDevices.devices.deleteUser"></a>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-xs-pull-1 col-sm-pull-0 col-sm-offset-1 margin-t-10 pull-right bb-button-save btn-save form-group"></div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-xs-pull-1 col-sm-push-1 col-sm-offset-1 margin-t-10 pull-right bb-button-cancel form-group"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
