<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="shareable-table-header" data-i18n="settings.manageDevices.devices.formLabels.deviceListHeader"></div>
		</div>
		<div class="col-xs-12 col-sm-8">
			<a class="bb-select-all" href="#noOp" data-i18n="settings.manageDevices.devices.formLabels.selectAll"></a>
			<a class="bb-deselect-all hidden" href="#noOp" data-i18n="settings.manageDevices.devices.formLabels.deselectAll"></a>
		</div>
	</div>
</div>

<ul id="bb-shareable-device-table" class="list-unstyled list-table shareable-table"></ul>