<div id="bb-equipment-stacked-bar-graph" class="equipment-stacked-bar-graph">
	<div id="bb-interactive-mode-btn"></div>
	<div id="bb-time-span-dropdown" class="time-span-dropdown col-xs-6 col-sm-4"></div>
	<div id="bb-display-range" class="col-xs-6 col-sm-4 text-center">
		<a id="bb-start-date" href="javascript:void(0);"></a>
		-
		<a id="bb-end-date" href="javascript:void(0);"></a>
	</div>
	<div id="bb-graph-display-options" class="graph-display-options col-xs-12"></div>
	<div id="bb-graph" class="graph-content col-xs-12">
		<div class="absolute-fill bb-spinner-view spinner-view">
			<div class="relative-size-1x1 width100">
				<div class="bb-spinner spinner-dynamic fade in"></div>
			</div>
		</div>
	</div>
	<div id="bb-graph-error" class="hidden graph-error col-xs-12">
		<a href="#noOp" class="bb-reload-error-text error-text" data-i18n="equipment.error.eMeterGraphError"></a>
	</div>
</div>